 body {
  background-color: #C1BDB3;
  padding-top: 100px;
}

h1{
  color: #5F5B6B;
}
.container {
  max-width: 500px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}